*.env
.DS_Store
*.csv
*.venv
*.log*
*.pyc
*.pyo
*.pyd1
__pycache__/
*.env.script
*.txt
*.env*_token
backend/tmp/
backend/logs/
/logs/
*.env*
!.env.example
!.env.frontend.example

compose.override.yaml

*.md
!README.md



logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# beszel monitoring system
beszel_data/
beszel_agent_data/
beszel_socket/


# dozzle docker continer log system
dozzle_data/users.yaml
dozzle_data/*/

secrets/*
